In [1]:
import pandas as pd
import numpy as np
import math
states = pd.read_csv('states_all.csv')
states4=states

In [2]:
states4.isnull().sum()*100/states.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

Öncelikle datasetindeki matematiksel boşlukları aşağıdaki formullerle dolduruyoruz.

    states.GRADES_ALL=states.GRADES_PK+states.GRADES_1_8+states.GRADES_9_12
    states.TOTAL_REVENUE=states.FEDERAL_REVENUE+states.STATE_REVENUE+states.LOCAL_REVENUE
    states.TOTAL_EXPENDITURE=states.INSTRUCTION_EXPENDITURE+states.SUPPORT_SERVICES_EXPENDITURE+states.OTHER_EXPENDITURE+states.CAPITAL_OUTLAY_EXPENDITURE

In [3]:
for i in range(0, len(states4)):
    if pd.isnull(states4.OTHER_EXPENDITURE[i]):
        if (pd.notnull(states4.TOTAL_EXPENDITURE[i])and pd.notnull(states4.INSTRUCTION_EXPENDITURE[i])and pd.notnull(states4.SUPPORT_SERVICES_EXPENDITURE[i])):
            states4.OTHER_EXPENDITURE[i]=states4.TOTAL_EXPENDITURE[i]-states4.INSTRUCTION_EXPENDITURE[i]-states4.SUPPORT_SERVICES_EXPENDITURE[i]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [4]:
count2=0
for i in range(0, len(states4)):
    if (pd.notnull(states4.TOTAL_REVENUE[i]) and pd.notnull(states4.FEDERAL_REVENUE[i])and pd.notnull(states4.STATE_REVENUE[i])and pd.notnull(states4.LOCAL_REVENUE[i])):
        count2+=1
count2

1280

In [5]:
for i in range(0, len(states4)):
    if pd.isnull(states4.GRADES_ALL_G[i]):
        if (pd.notnull(states4.GRADES_9_12_G[i])and pd.notnull(states4.GRADES_1_8_G[i])and pd.notnull(states4.GRADES_PK_G[i])):
            states4.GRADES_ALL_G[i]=states4.GRADES_9_12_G[i]+states4.GRADES_1_8_G[i]+states4.GRADES_PK_G[i]

In [6]:
states4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1280 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [7]:
states4=states.groupby('STATE').apply(pd.DataFrame.sort_values, 'YEAR')
states4.head(20)

              PRIMARY_KEY    STATE  YEAR    ENROLL  TOTAL_REVENUE  \
STATE
ALABAMA 0    1992_ALABAMA  ALABAMA  1992       NaN      2678885.0
        51   1993_ALABAMA  ALABAMA  1993  727716.0      2827391.0
        102  1994_ALABAMA  ALABAMA  1994  730004.0      2970223.0
        153  1995_ALABAMA  ALABAMA  1995  727480.0      3367437.0
        204  1996_ALABAMA  ALABAMA  1996  735912.0      3365113.0
        255  1997_ALABAMA  ALABAMA  1997  737386.0      3981788.0
        306  1998_ALABAMA  ALABAMA  1998  739321.0      4140537.0
        357  1999_ALABAMA  ALABAMA  1999  737639.0      4471546.0
        408  2000_ALABAMA  ALABAMA  2000  730184.0      4885917.0
        459  2001_ALABAMA  ALABAMA  2001  728532.0      4832946.0
        510  2002_ALABAMA  ALABAMA  2002  726367.0      5128559.0
        561  2003_ALABAMA  ALABAMA  2003  727900.0      5196054.0
        612  2004_ALABAMA  ALABAMA  2004  730418.0      5356113.0
        663  2005_ALABAMA  ALABAMA  2005  729342.0      5889966.0
        714  2006_ALABAMA  ALABAMA  2006  743265.0      6364028.0
        765  2007_ALABAMA  ALABAMA  2007  743273.0      7069040.0
        816  2008_ALABAMA  ALABAMA  2008  742919.0      7726213.0
        870  2009_ALABAMA  ALABAMA  2009  745668.0      7186390.0
        922  2010_ALABAMA  ALABAMA  2010  748889.0      7281058.0
        974  2011_ALABAMA  ALABAMA  2011  746933.0      7376725.0

             FEDERAL_REVENUE  STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  \
STATE
ALABAMA 0           304177.0      1659028.0       715680.0          2653798.0
        51          331409.0      1729295.0       766687.0          2833433.0
        102         331823.0      1850894.0       787506.0          3103266.0
        153         328957.0      2161366.0       877114.0          3353363.0
        204         334858.0      2138717.0       891538.0          3572283.0
        255         376200.0      2498847.0      1106741.0          3963624.0
        306         374153.0      2589819.0      1176565.0          4245033.0
        357         393095.0      2752653.0      1325798.0          4622810.0
        408         425978.0      3003814.0      1456125.0          5003267.0
        459         466150.0      2879636.0      1487160.0          5086045.0
        510         508425.0      3010983.0      1609151.0          5147821.0
        561         567704.0      2966981.0      1661369.0          5298932.0
        612         625666.0      2971520.0      1758927.0          5450269.0
        663         665924.0      3247562.0      1976480.0          5904664.0
        714         730112.0      3540436.0      2093480.0          6591429.0
        765         689072.0      4070949.0      2309019.0          7196459.0
        816         711391.0      4649053.0      2365769.0          7847387.0
        870         728795.0      4161103.0      2296492.0          7815467.0
        922        1134111.0      3800128.0      2346819.0          7647571.0
        974        1077070.0      3965614.0      2334041.0          7411768.0

             INSTRUCTION_EXPENDITURE         ...           GRADES_4_G  \
STATE                                        ...
ALABAMA 0                  1481703.0         ...              57948.0
        51                 1564558.0         ...              57497.0
        102                1697593.0         ...              56773.0
        153                1851700.0         ...              56486.0
        204                1987018.0         ...              57098.0
        255                2095904.0         ...              57431.0
        306                2218693.0         ...              58610.0
        357                2399626.0         ...              60012.0
        408                2551713.0         ...              59749.0
        459                2656393.0         ...              58929.0
        510                2720735.0         ...              58690.0
        561                2817111.0         ...              57323.0
        612                2875595.0         ...              56182.0
        663                3053380.0         ...              55919.0
        714                3326656.0         ...              56720.0
        765                3653466.0         ...              57795.0
        816                3947003.0         ...              58593.0
        870                3836398.0         ...              59512.0
        922                3900492.0         ...              59117.0
        974                3844055.0         ...              56491.0

             GRADES_8_G  GRADES_12_G  GRADES_1_8_G  GRADES_9_12_G  \
STATE
ALABAMA 0       58025.0      41167.0      471564.0       196386.0
        51      60004.0      39900.0      470775.0       198651.0
        102     59165.0      41730.0      468472.0       201285.0
        153     59914.0      40981.0      470246.0       206840.0
        204     58305.0      42510.0      469370.0       207980.0
        255     58210.0      44272.0      472847.0       208148.0
        306     57105.0      43957.0      473954.0       205630.0
        357     56201.0      42576.0      472019.0       202045.0
        408     56951.0      42512.0      472686.0       201358.0
        459     56591.0      42909.0      469591.0       201610.0
        510     57576.0      45521.0      467993.0       206159.0
        561     59663.0      42005.0      466920.0       205907.0
        612     59286.0      42672.0      462799.0       208383.0
        663     59643.0      43452.0      466164.0       212414.0
        714     59573.0      44471.0      466583.0       214968.0
        765     58792.0      46200.0      466414.0       216941.0
        816     57809.0      46763.0      465403.0       217590.0
        870     57027.0      48164.0      464601.0       219495.0
        922     57992.0      49719.0      467768.0       221940.0
        974     57919.0      49510.0      461122.0       217615.0

             GRADES_ALL_G  AVG_MATH_4_SCORE  AVG_MATH_8_SCORE  \
STATE
ALABAMA 0        676174.0        208.327876        252.187522
        51       677690.0               NaN               NaN
        102      678808.0               NaN               NaN
        153      686410.0               NaN               NaN
        204      686983.0        211.646974        256.594863
        255      690881.0               NaN               NaN
        306      689925.0               NaN               NaN
        357      684612.0               NaN               NaN
        408      684880.0        217.941053        262.158206
        459      683042.0               NaN               NaN
        510      683867.0               NaN               NaN
        561      674679.0        223.344643        261.939022
        612      673176.0               NaN               NaN
        663      681201.0        225.071236        262.211100
        714      685423.0               NaN               NaN
        765      686947.0        228.520018        266.000110
        816      689463.0               NaN               NaN
        870      691870.0        227.962650        268.524120
        922      697887.0               NaN               NaN
        974      687019.0        231.286019        269.096516

             AVG_READING_4_SCORE  AVG_READING_8_SCORE
STATE
ALABAMA 0             207.963517                  NaN
        51                   NaN                  NaN
        102                  NaN                  NaN
        153                  NaN                  NaN
        204           210.920767           260.276441
        255                  NaN                  NaN
        306                  NaN                  NaN
        357                  NaN                  NaN
        408           206.880030           258.777258
        459                  NaN                  NaN
        510                  NaN                  NaN
        561           207.083848           261.870872
        612                  NaN                  NaN
        663           207.752033           273.045757
        714                  NaN                  NaN
        765           216.388954           265.641982
        816                  NaN                  NaN
        870           216.273356           267.577474
        922                  NaN                  NaN
        974           220.273413           257.383509

[20 rows x 25 columns]

In [8]:
states4.reset_index(drop=True, inplace=True)
states4.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1993_ALABAMA,ALABAMA,1993,727716.0,2827391.0,331409.0,1729295.0,766687.0,2833433.0,1564558.0,...,57497.0,60004.0,39900.0,470775.0,198651.0,677690.0,NaN,NaN,NaN,NaN
2,1994_ALABAMA,ALABAMA,1994,730004.0,2970223.0,331823.0,1850894.0,787506.0,3103266.0,1697593.0,...,56773.0,59165.0,41730.0,468472.0,201285.0,678808.0,NaN,NaN,NaN,NaN
3,1995_ALABAMA,ALABAMA,1995,727480.0,3367437.0,328957.0,2161366.0,877114.0,3353363.0,1851700.0,...,56486.0,59914.0,40981.0,470246.0,206840.0,686410.0,NaN,NaN,NaN,NaN
4,1996_ALABAMA,ALABAMA,1996,735912.0,3365113.0,334858.0,2138717.0,891538.0,3572283.0,1987018.0,...,57098.0,58305.0,42510.0,469370.0,207980.0,686983.0,211.646974,256.594863,210.920767,260.276441

In [9]:
states4 = states4.groupby(by = 'STATE').apply(lambda X: X.interpolate())

In [10]:
states4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1280 non-null float64
TOTAL_REVENUE                   1331 non-null float64
FEDERAL_REVENUE                 1331 non-null float64
STATE_REVENUE                   1331 non-null float64
LOCAL_REVENUE                   1331 non-null float64
TOTAL_EXPENDITURE               1331 non-null float64
INSTRUCTION_EXPENDITURE         1331 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1331 non-null float64
OTHER_EXPENDITURE               1331 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1331 non-null float64
GRADES_PK_G                     1444 non-null float64
GRADES_KG_G                     1487 non-null float64
GRADES_4_G                      1487 non-null float64
GRADES_8_G                      1487 non-null float64
GRADES_12_G                     1487 non-null float64
GRADES_1_8_G                    1487 non-null float64
GRADES_9_12_G                   1487 non-null float64
GRADES_ALL_G                    1444 non-null float64
AVG_MATH_4_SCORE                1280 non-null float64
AVG_MATH_8_SCORE                1276 non-null float64
AVG_READING_4_SCORE             1254 non-null float64
AVG_READING_8_SCORE             1099 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [11]:
states4.dropna(inplace=True)

In [12]:
states4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 4 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1049 non-null object
STATE                           1049 non-null object
YEAR                            1049 non-null int64
ENROLL                          1049 non-null float64
TOTAL_REVENUE                   1049 non-null float64
FEDERAL_REVENUE                 1049 non-null float64
STATE_REVENUE                   1049 non-null float64
LOCAL_REVENUE                   1049 non-null float64
TOTAL_EXPENDITURE               1049 non-null float64
INSTRUCTION_EXPENDITURE         1049 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1049 non-null float64
OTHER_EXPENDITURE               1049 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1049 non-null float64
GRADES_PK_G                     1049 non-null float64
GRADES_KG_G                     1049 non-null float64
GRADES_4_G                      1049 non-null float64
GRADES_8_G                      1049 non-null float64
GRADES_12_G                     1049 non-null float64
GRADES_1_8_G                    1049 non-null float64
GRADES_9_12_G                   1049 non-null float64
GRADES_ALL_G                    1049 non-null float64
AVG_MATH_4_SCORE                1049 non-null float64
AVG_MATH_8_SCORE                1049 non-null float64
AVG_READING_4_SCORE             1049 non-null float64
AVG_READING_8_SCORE             1049 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 213.1+ KB

In [13]:
states4.isnull().sum()*100/states.shape[0]

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

In [14]:
states4.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1049.000000,1.049000e+03,1.049000e+03,1.049000e+03,1.049000e+03,1.049000e+03,1.049000e+03,1.049000e+03,1.049000e+03,1.049000e+03,...,1049.000000,1049.000000,1049.000000,1.049000e+03,1.049000e+03,1.049000e+03,1049.000000,1049.000000,1049.000000,1049.000000
mean,2007.040991,9.318512e+05,1.020166e+07,8.868634e+05,4.727526e+06,4.587271e+06,1.029242e+07,5.318587e+06,3.006924e+06,4.670890e+05,...,71695.118208,71806.514776,62786.488084,5.764098e+05,2.804280e+05,8.785181e+05,235.375966,278.832036,219.133912,263.649407
std,6.260353,1.102959e+06,1.289280e+07,1.260088e+06,6.102194e+06,6.000771e+06,1.309556e+07,6.881791e+06,3.663635e+06,5.753323e+05,...,85418.506955,84440.815106,75099.051856,6.836356e+05,3.332079e+05,1.042583e+06,9.615995,9.902672,7.804885,5.766768
min,1993.000000,4.386600e+04,6.559710e+05,4.062200e+04,0.000000e+00,2.853100e+04,6.578090e+05,2.834840e+05,1.695450e+05,2.263600e+04,...,2548.000000,1485.000000,484.000000,1.922600e+04,2.758000e+03,2.455400e+04,187.134670,232.831510,179.324956,236.379102
25%,2002.000000,2.748490e+05,2.592064e+06,2.325930e+05,1.388046e+06,9.458340e+05,2.550302e+06,1.355794e+06,7.827730e+05,1.156360e+05,...,20196.000000,20588.000000,18336.000000,1.649980e+05,8.094800e+04,2.576310e+05,230.778869,273.651533,214.985269,259.966559
50%,2007.000000,6.651090e+05,5.916342e+06,4.978340e+05,2.912629e+06,2.342964e+06,6.018188e+06,3.009591e+06,1.802769e+06,3.039240e+05,...,50899.000000,49774.000000,41118.000000,4.076780e+05,1.869190e+05,6.249790e+05,237.194585,280.942228,220.991386,264.532051
75%,2012.000000,1.009200e+06,1.170988e+07,9.548370e+05,5.899155e+06,5.202838e+06,1.150744e+07,5.984072e+06,3.525882e+06,5.495880e+05,...,79008.000000,80636.000000,72608.000000,6.380410e+05,3.167570e+05,9.687310e+05,242.009349,285.472819,224.209380,267.675679
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130